<form>
  <div class="col-xs-6">
    <label for="country">Country</label></br>
    <label for="year">Year</label></br>
    <label for="Month">Month</label></br>
  </div>
  <div class="col-xs-6">
    <input type="text" id="country" name="country" value="<%= params[:country] %>" required></br>
    <input type="number" id="year" name="year" value="<%= params[:year] %>" required></br>
    <input type="number" id="month" name="month" value="<%= params[:month] %>" required></br>
  </div>
  <div class="col-xs-12">
    <input type="submit" value="Search for Holidays">
  </div>
</form>
</br></br>
<% if @holidays != nil and @holidays.any? %>
  <h2>Displaying searched Holidays</h2>
  <% @holidays.each do |holiday| %>
    <h3><%= holiday[0]["name"] %> on <%= holiday[0]["date"] %></h3>
  <% end %>
<% else %>
  <h2>No Search Results</h2>
<% end %>