<h2>US Holidays in <%=Date::MONTHNAMES[@time.month]%> of <%= @time.year %></h2>
<% @holidays.each do |holiday| %>
  <h3><%= holiday[0]["name"] %> - <%= holiday[0]["date"][8..-1] %></h3>
<% end %>

<h2>US Holidays in July of 1994</h2>
<% @birthHolidays.each do |holiday| %>
  <h3><%= holiday[0]["name"] %> - <%= holiday[0]["date"][8..-1] %></h3>
<% end %>